*{   
    background: black;
    padding: 0;
    margin: 0;
    font-family: "Audiowide", sans-serif;
    box-sizing: border-box;
}

div{
    margin:20%;
    display: block;
    color: white
    }

.acesso{
    font-size: 20px;
    color:  aqua;
    border-radius: 10%;
    box-sizing: border-box;
    border-color: aqua;
    cursor: pointer;
    
    }



/*--------------------------------------------------------------*/

header {
    margin: 50px 0 0 76px;
     line-height: 60px;
     text-align: center;
     cursor: pointer;

}

.menu {  
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
    color: white;
    
}